/*********************************************
* CUSTOM BRANDING
*********************************************/
body:after {
  content: url(../../images/logo.png);
  background-color: white;
  padding: 4em;
  border-radius: 2em;
  transform-origin: bottom left;
  transform: scale(0.15);
  position: fixed;
  bottom: 3%;
  left: 2%;
}

.code {
  font-size: .6em !important;
}

black {
 color: #111;
}

blue {
  color: #00a990;
}

red {
  color: red;
}

green {
  color: #00a990;
}

grey {
  color: #666666;
}

.no-bullets {
  list-style-type: none !important;
}

.blue {
  color: #00a990;
}

.red {
  color: red;
}

img {
  border: 0px none !important;
  box-shadow: none !important;
}

.img-md {
  width: 45%;
}

em {
  background-color: #00a990;
  color: white;
  border-radius: 4px;
  padding: 0px 7px 0px 7px !important; 
  font-style: normal !important;
}

.grey {
  background-color: #444444;
}

.tag {
  color: #00a990;
  font-size: 0.8em !important;
}

.url {
  color: #002b36;
  font-size: 0.6em !important;
}

.align-left {
  text-align: left;
}

.framed {
  background-color: #333333;
  color: white;
  border-radius: 30px;
  padding: 3px 7px 0px 7px !important;
  margin-right: 10px;
}

iframe {
  width: 100%;
  height: 400px;
  border: 2px solid grey !important;
}

.list-left {
  text-align: left;
}
.list-right {
  text-align: right !important;
}

td {
  vertical-align: middle !important;
  font-size: .8em !important;
}

.logo-40 {
  height: 40px;
}

.logo-30 {
  height: 30px;
}

.logo-20 {
  height: 20px;
}

.logo-headline {
  height: 50px;
  vertical-align: middle !important;
}

.logo-central {
  height: 100px;
  vertical-align: middle !important;
}

.caption {
  font-size: .6em !important;
}

.author {
  font-size: .6em !important;
}

td {
  border:none !important;
}

/*********************************************
* Quotes
*********************************************/
.quote {
  font-style: italic !important;
}

.quote-author {
  text-align: right;
  color: #00a990;
}

/*********************************************
* Open Code Play Button
*********************************************/
pre + a:hover {
  color: #00a990 !important;
}

pre + a {
  color: #002b36 !important;
}

/*********************************************
* Avatar
*********************************************/
.avatar-img {
  height: 3em;
  border-radius: 50%;
  border-color: #999;
  border-width: 3px;
  border-style: solid;
}